
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://fantastic-admin.gitee.io
 * Github https://fantastic-admin.github.io
 */
  
.notfound[data-v-eae09b76]{display:flex;align-items:center;justify-content:space-between;width:700px;position:absolute;left:50%;top:50%;transform:translate(-50%) translateY(-50%)}.notfound .icon[data-v-eae09b76]{width:400px;height:400px}.notfound .content h1[data-v-eae09b76]{margin:0;font-size:72px;color:var(--el-text-color-primary)}.notfound .content .desc[data-v-eae09b76]{margin:20px 0 30px;font-size:20px;color:var(--el-text-color-secondary)}
